[2016-08-11 15:28] happyshows opened #1 "Error when compare x (with data) and y(without data)"
Creating comparison table...
Error in data.frame(chng_type = "1", both_diffs$df1_2) :
  arguments imply differing number of rows: 1, 0

from my perspective, the comparison should still be valid and showing x has the addition of the new rows.

I'm using the CRAN version.

[2016-08-11 15:34] happyshows commented on #1
I think the dev version is working, closing it now

[2016-08-11 15:34] #1 closed

[2016-11-24 04:53] Nelson09 commented on #1
I download the dev version but facing the similar error message. Please help

Error in data.frame(chng_type = "1", both_diffs$df1_2) :
  arguments imply differing number of rows: 1, 0

[2016-11-24 13:24] alexsanjoseph commented on #1
Did you install using install_github? Can you give me an example so that I
can reproduce the error?

On 24 November 2016 at 10:23, Nelson09 <notifications@github.com> wrote:

--
Alex Joseph
Senior Engineer - Research
System Insights

[2017-01-11 16:46] Psychelzh opened #2 "Error occured when comparing two tibbles."
Your work is very useful. But I encountered an error while I call the following code to compare two tibbles `wideDataBySdk` and `wideDataByMatlab`

[code]

Error information was as follows:

[code]

R session information was:

[code]

[2017-01-15 03:41] alexsanjoseph commented on #2
@Psychelzh

I am not able to reproduce the error. Can you give me an example where you had the error?

[2017-01-15 07:24] alexsanjoseph commented on #2
Nevermind, it was an issue with one of the dependancy packages. I have fixed it in github. Can you check? CRAN version will be updated soon!

[2017-01-15 14:43] Psychelzh commented on #2
Thank you very much! I will try to update it through `GitHub`.

[2017-01-16 05:08] Psychelzh commented on #2
@alexsanjoseph Thanks! I have tried updating and it solved this issue! 🥇

[2017-01-16 08:32] #2 closed

[2017-02-04 20:29] sngordon opened #3 "labeling additions vs removals"
Just ran my first compare_df (version 1.1.1 in R 3.3.2), looks like a great package!

However I'm confused by the labeling of additions vs removals from $change_count & summary. In your blog entry example, Dhakkan & Mugger are dropped when moving from the old to new dataframe, yet they are listed as "1" under additions and similarly new records are counted under removals. Am I just not conceptuali

[2017-02-05 06:11] alexsanjoseph commented on #3
Thanks, @sngordon! There was a bug in the way the changes were calculated. Can you see if it works as expected in the dev version?

[2017-02-06 02:39] alexsanjoseph commented on #3
I wonder why the dependency packages didn't get installed :/. Anyway glad to see you got it working! Closing the thread now.

[2017-02-06 02:39] #3 closed

[2017-02-14 21:24] mahbubur-rahman-healthiq opened #4 "Using this with spark-shell"
Hi,

I am trying to use this tool with spark-shell. Unfortunately it is not working. Is there any guideline for spark-shell?

[2017-02-15 02:46] alexsanjoseph commented on #4
Hi,

I haven't really worked with spark-shell, so I don't have this planned at all. I'd be glad to support you if you have an idea on how to proceed.

[2017-02-15 09:35] mahbubur-rahman-healthiq commented on #4
Hi,

Sorry I thought it was an extension of Spark as Spark also has Data Frame! However, now it is clear that it is an extension of R.

I got it working now in Windows. I am a bit struggling to get it working on Centos or Ubuntu.

BTW, it is a nice tool and exactly what I was looking to test my new ETL development result with the previous.

I would be interested in contributing to this project.

K

[2017-02-15 09:35] #4 closed

[2017-02-15 14:23] alexsanjoseph commented on #4
Sure Sumon, I'll be glad to have your help you fix any new issues :)

[2017-02-20 10:15] MichelEJD opened #5 "Error: invalid styles detected"
Hi,

I love this library and use it a lot!

Unfortunately, there is a number of times I get the following response:
Message=
"Invalid styles detected, one or more styles lack the needed style 'name: value': 'NA'"
Call=
prGetStyle(cell_style)

Any clue what goes wrong and how it can be fixed?

Thanks for your support.

Michel

[2017-02-20 10:18] alexsanjoseph commented on #5
Hi Michel!

Can you show me a reproducable example? I have never seen this problem

[2017-02-20 10:22] MichelEJD commented on #5
Hi Alex,

I will try to create an example. It happened to me with datasets I can't share, so let me try to create an anonymous example.

Michel

[2017-02-20 10:25] alexsanjoseph commented on #5
Ah, I understand. Thanks for taking the effort.

[2017-02-20 14:14] MichelEJD commented on #5
Hi Alex,

I did not get to an example file, but did notice the following:
It occurs when one (or multiple) grouping columns are of type POSIXct and they contain NA values.

Hope this helps

Michel

[2017-02-20 14:27] alexsanjoseph commented on #5
What does a POSIXct value of NA mean? Can you convert them to character vector and try?

[2017-02-21 08:34] MichelEJD commented on #5
Hi Alex,

I tried to convert all to character (and character vector), but unfortunately keep running into the same error message.

[2017-02-21 08:41] MichelEJD commented on #5
It is not restricted to specific grouping column types, I get these messages with any type of column:
Creating comparison table...
Truncating HTML diff table to 100 rows...
Creating HTML table for first 100 rows
Error in prGetStyle(cell_style) :
  Invalid styles detected, one or more styles lack the needed style 'name: value': 'NA'

[2017-02-21 08:51] alexsanjoseph commented on #5
I'm not able to replicate this at all. Can you manually create a small example which has this problem?

[2017-02-21 08:52] MichelEJD commented on #5
working on it :-)

[2017-02-21 09:19] MichelEJD commented on #5
Alex,

I found it. Looks like a terrible user error.

I use a number of variables I read from an excel file. One of them is the max number of HTLM rows (vHtmlLimit). This sometimes is a string ("100") and then I get the error message described earlier. I now do an as.numeric on the variable and it works.

Sorry for this, but our conversation helped me finding the bug in my code.

Michel

[2017-02-21 09:21] alexsanjoseph commented on #5
Ah okey, got it. Glad you solved the problem!

Closing the thread :)

[2017-02-21 09:21] #5 closed

[2017-04-26 21:43] david2t opened #6 "values with sign difference not being captured by compareDF"
Hi,
I'm somewhat new to R so apologies if I'm missing something obvious.
I'm creating 2 data frames.
[code]
The output is:
Error in compare_df(new_df, old_df, c("Date", "BookID", "AssetID")) :
  The two data frames are the same after accounting for tolerance!

I would expect compareDF to catch the difference in values in the TradedFactor column.

Thanks,
David

[2017-05-02 07:22] alexsanjoseph commented on #6
@david2t

Hey, sorry for the late reply - I was out on vacation. This is currently a known limitation, since I take the difference by using the ratio rather than differences, the absolute value is taken for numeric columns.

Are you still on this? If so, I'll fix it ASAP else I'll add it to my queue to do it slowly :)

Thanks,
Alex

[2017-05-03 16:18] david2t commented on #6
@alexsanjoseph
No worries, thanks for taking a look! Doesn't need to be ASAP, thank you :)

[2017-06-12 02:50] alexsanjoseph commented on #6
@david2t - This has been fixed. Sorry for the delay!

[2017-06-12 02:50] #6 closed

[2017-06-12 13:14] david2t commented on #6
Thank you very much!

[2018-03-13 21:00] condwanaland opened #7 "Throw warning on identical table rather than error"
Awesome package! For automated report generation, it would be really helpful if  `check_if_comparable` and `check_if_similar_after_unique_and_reorder` (and friends) would throw a warning rather than an error. This allows batches of reports to continue if some data hasn't changed.

Is this something you'd consider implementing. If you're very busy I could try sending the pull request myself

[2018-03-14 08:05] alexsanjoseph commented on #7
Hi @condwanaland - Thanks for the praise and suggestions. I'll implement them soon :)

[2018-03-14 10:13] alexsanjoseph commented on #7
@condwanaland - I've updated the packages. Can you do a dev install and see if it works? It'll be uploaded to CRAN soon.

[2018-03-14 19:20] condwanaland commented on #7
@alexsanjoseph Thanks for much for the quick update! Just been testing it, it all seems to be working as far as I can tell. Tested on a wide variety of datasets.

A CRAN upload would be greatly appreciated, as work blocks me from doing github installs :)

[2018-03-15 09:16] alexsanjoseph commented on #7
I've uploaded the package to CRAN. You should see it in effect in a few hours. Just out of curiosity - can you tell me what features do you use in the package? Is this the comparison function or rendering of the HTML?

[2018-03-15 19:50] condwanaland commented on #7
I basically build systems that automatically clean and check data for quality. So I use the comparison function in essentially every report I build. More often than not I'll then generate the html output as its great for the non-technical members of my team to inspect, but it does depend on the dataset

[2018-03-17 03:29] alexsanjoseph commented on #7
Got it! thanks for the info :). Closing the issue

[2018-03-17 03:29] #7 closed

[2018-05-19 08:38] alexsanjoseph opened #8 "Make Documentation clearer on Grouping Multiple columns to prevent confusion"
Brice -

[2018-05-19 08:40] alexsanjoseph opened #9 "Show data that is unchanged as well"
Brice -

[2018-05-19 08:43] alexsanjoseph opened #10 "Provide the ability to export the HTML colorized results to Microsoft Excel where the format, color, and style of the output duplicates the HTML output"

[2018-05-19 08:43] alexsanjoseph opened #11 "Provide the ability to export the HTML colorized results to Microsoft Excel where the format, color, and style of the output duplicates the HTML output"

[2018-05-19 08:44] #10 closed

[2018-05-21 15:45] alexsanjoseph commented on #9
Fixed in 1.5

[2018-05-21 15:45] #9 closed

[2018-05-21 15:45] alexsanjoseph commented on #8
Fixed in 1.5

[2018-05-21 15:45] #8 closed

[2018-07-16 08:38] RKonstantinR opened #13 "Output compare result with Shiny"
There is a way to display $htlm_output with Shiny::htmlOutput function?

[2018-07-26 07:57] alexsanjoseph commented on #13
I haven't thought of this use case, really. Can you give me some more info into your use case?

[2018-07-26 08:04] RKonstantinR commented on #13
You can see my code example with additional info at stackoverflow:
https://stackoverflow.com/questions/51381762/shiny-output-comparison-results-in-html-format

[2018-08-22 19:34] alexsanjoseph commented on #13
I was trying to find a solution for this in the package, but I learned today that shiny has this functionality implemented trivially. You can solve this by adding the shiny::HTML() tag to your output. I've given an example in SO.

[2018-09-03 06:36] #13 closed

[2018-11-07 20:47] shabbybanks opened #17 "render README.Rmd to README.md"
now that github no longer renders `.Rmd` files as Markdown, the landing page here does not display like a regular README. This is just cosmetic.

[2018-11-08 08:57] alexsanjoseph commented on #17
Thanks, fixed

[2018-11-08 08:57] #17 closed

[2019-03-05 17:47] grahamgill opened #18 "rounding doubles to 2 decimal places - what's the purpose?"
compareDF is very useful, thanks.

What's the purpose of the r2two() function, and rounding doubles to 2 decimal places? Shouldn't values be left unrounded and the tolerance setting of compare_df() used to pick what counts as a difference, no matter the scale?

I want to use the data in compare_df(...)$comparison_df for further computation, not just display or summarising changes. I need the repor

[2019-03-06 05:11] alexsanjoseph commented on #18
That's a very smart idea - Hadn't thought of it. Will make an update soon regarding this.

[2019-03-08 06:05] alexsanjoseph commented on #18
I didn't implement rounding as inferred from tolerance because tolerance could be of two types and it gets complicated. I have added a simpler (albeit less elegant) approach of adding a parameter.

@grahamgill - I've pushed a new commit. Can you verify if the new parameter solves the problem?

[2019-03-09 18:22] #18 closed

[2019-04-01 08:50] romainfrancois opened #19 "dplyr 0.8.1 compatibility"
I'm getting a failure as part of dplyr 0.8.1 reverse dependency checks:

[code]

I will look for details later, but in the meantime, perhaps it is something you can address.

[2019-05-02 07:05] pbkeating opened #20 "Facilitate separation of additions to databases and modifications"
Hello Alex,

I've been regularly using and finding the compareDF package to be very helpful since I found it last November.

The html output is really helpful, but wondered if it would be possible to add functionality to produce separate outputs for additions to databases and for modifications? When many additions and modifications have been made between two versions of a database and then both of

[2019-05-02 07:46] alexsanjoseph commented on #19
@romainfrancois - I've updated the package on CRAN. Does this solve the problem?

[2019-05-02 07:47] alexsanjoseph commented on #20
@pbkeating - can you try a group by by `chng_type` on the `$comparison_df` object? Will that solve the problem?

[2019-05-02 07:58] pbkeating commented on #20
Hi,

Thanks for that. Tried it, but as `chng_type` is binary and applies to additions, removals and modifications, it doesn't allow for easy separation. That would be a great way of doing it though if there were different `chng_type` for additions, subtractions and modifications.

Thanks,
Patrick

[2019-05-02 09:33] alexsanjoseph commented on #20
Can you try installing the package from the add_grouping_type branch? In that add a new argument, `add_grouping_type=TRUE` to the `compare_df` call. Does this help you?

@pbkeating

[2019-05-02 12:45] pbkeating commented on #20
Apologies for delay in getting back. Got involved in other activities.
I tried to install the `install_github("alexsanjoseph/compareDF", ref = "add_grouping_type")` package but when I tried to run it, I got the following error

`Error in compare_df(x, x_ref, c("id"), limit_html = 700, add_grouping_type = TRUE) :
  unused argument (add_grouping_type = TRUE)`

I examined the code and couldn't find t

[2019-05-02 12:51] alexsanjoseph commented on #20
Are you sure the installation went fine? (Try restarting R, maybe?) The function is here jn this branch - https://github.com/alexsanjoseph/compareDF/blob/add_grouping_type/R/fnsComparison.R

[2019-05-02 13:33] pbkeating commented on #20
Thanks. I restarted R and could run the function. Thanks for the speedy reactions on this!
I ran it and see the output below. Unfortunately, the numbers of additions and removals identified by the `change_summary` variable are different from the add_grouping_type.

Worth adding in a `removed` grouping?

![20190502_152533 1](https://user-images.githubusercontent.com/20238915/57078808-4610cb00-6cef-

[2019-05-02 13:33] pbkeating commented on #20
Just realised that removed is there. Thanks!

[2019-05-02 13:38] alexsanjoseph commented on #20
I added the group calculation using a heuristic that I thought would work. Can you add a small reproducible example which shows the mismatch between the change summary and the grouping?

[2019-05-02 13:54] pbkeating commented on #20
I tried out a simple example and it seems to have worked as expected...not sure why it was not the case with the dataset that I have used

a <- data.frame(id = c("t1","t2","t3","t4","t5"),
                gender = c("m","f","m","f", "f"),
                age = c(10, 13, 14, 90, 20))

b <- data.frame(id = c("t1","t4","t5", "t6", "t7", "t8", "t9"),
                gender = c("f","f","m","f", "f", "m

[2019-05-02 14:00] pbkeating commented on #20
I selected 12 variables when comparing... could that affect it?

[2019-05-02 14:39] alexsanjoseph commented on #20
I have no idea - my internal test case also seem to have worked, hence I did the commit. This should be some sort of edge case. Hopefully you can find out what's going on with a smaller dataset, don't know what to do otherwise

[2019-05-02 21:24] pbkeating commented on #20
Hi again. I tested with just 4 variables and it got closer to the real situation, but not completely there.
It sometimes misclassifies newly added rows with modified rows and some removed rows as modified rows.

![20190502_231309 1](https://user-images.githubusercontent.com/20238915/57107317-f69ebf00-6d2f-11e9-80b2-1404030986e7.jpg)

[2019-05-03 04:20] alexsanjoseph commented on #20
Hmmm there is definitely a bug in there somewhere. If you are able to find me a few cases that will be amazing. In the meantime I'll try if I can reproduce it myself in a bit. Keeping the ticket open till then.

[2019-05-03 13:14] pbkeating commented on #20
Wondering if has anything to do with inclusion of dates as variables.  I was using three date variables and wondered if that could have made an impact.

Thanks again!

[2019-05-05 05:59] alexsanjoseph commented on #20
@pbkeating - Can you share a snippet of the data that you're working with (maybe anonymized?)

[2019-05-06 08:37] pbkeating commented on #20
Hi,

I'll do my best to get you a similar dataset over the coming days. Thank you for the follow-up on this!

[2019-05-21 08:10] msberends opened #21 "Markdown support"
Thank for this great package!

Would it be possible to support markdown too? I would like to print the results in an Rmd file, which seems not possible at the moment. Maybe use `knitr::kable()` to support this?

[2019-05-21 13:41] msberends opened #22 "Only retain columns with changes"
For a data set with more than ~50 variables, it's inconvenient and unnecessary to print all these columns.

A great option would be to have a parameter `keep_unchanged_columns` for the `compare_df()` function (which should default to `TRUE`).

Now I can achieve this when doing the comparison twice: after the first one I can analyse `ctable$comparison_table_diff` to see which column contains only `

[2019-05-21 16:06] #19 closed

[2019-05-21 16:08] alexsanjoseph commented on #22
Good ideas! I'll take a look at this soon!

[2019-05-21 16:09] alexsanjoseph commented on #21
Let me see if I understand your request correcly. Can't you just use `knitr::kable(df_compare$comparison_df)` to solve the problem?

[2019-05-21 17:37] msberends commented on #21
Yes, figured that one out just now 🙈

[2019-05-21 17:37] #21 closed

[2019-05-21 17:39] alexsanjoseph commented on #11
I don't think I'll be coming to this, so adding help wanted sign! 🙈

[2019-06-02 14:04] alexsanjoseph commented on #22
I've added this feature - If you can install from github, you should be able to test it out @msberends  :)

[2019-06-05 04:42] alexsanjoseph commented on #20
@pbkeating - were you able to get a reprex for this? If not I'll have to close this :/

[2019-06-05 06:13] pbkeating commented on #20
Hi,

No, I didn't manage it. Thanks for all your help and responsiveness.

Best,
Patrick

On Wed 5 Jun 2019, 05:42 Alex Joseph <notifications@github.com> wrote:

[2019-06-05 08:35] alexsanjoseph commented on #20
Thanks @pbkeating, feel free to create a new issue if this is a problem. I'm not merging the branch for now, since it seems to have issues

[2019-06-05 08:35] #20 closed

[2019-06-05 08:36] alexsanjoseph commented on #22
The feature is on CRAN now, closing this issue

[2019-06-05 08:36] #22 closed

[2019-06-05 16:21] msberends commented on #22
You’re great!!! 👍🏼

[2019-07-30 07:42] DilipPathare opened #23 "NeedHelp"
Hi Alexsan,

I would like to thank you for this wonderful package. I am using this package in one of my project.

I have small concern, as of now we can only print HTML output for only 100 rows. Is there any way to expand this HTML output for entire file,

Also, when you write this output in an excel, comparison_df sheet does not give you the color coding unlike HTML for changes. Is there any way

[2019-07-30 12:09] alexsanjoseph commented on #23
@DilipPathare

- you can set the `limit` variable to any number. The default value is 100 and so you're getting 100 rows.
- This is exactly the issue here - https://github.com/alexsanjoseph/compareDF/issues/11. I am hoping to do this sometime, but I'm not sure if I will ever come to it. Do you want to take a crack at this?

[2019-07-30 12:10] alexsanjoseph commented on #11
Some good ideas here - https://stackoverflow.com/questions/21618556/export-data-frames-to-excel-via-xlsx-with-conditional-formatting

[2019-07-30 14:35] DilipPathare commented on #23
@alexsanjoseph

you can set the limit variable to any number. The default value is 100 and so you're getting 100 rows. -
Where to change the limits? in the existing function or while wiring the script in the R studio

below is my code -
library(compareDF)
getwd()
x<-read.csv("L18Q3022.csv",header=TRUE,sep=",")
y<-read.csv("L2018143.csv",header=TRUE,sep=",")
df1<-as.data.frame(x)
df2<-as.data.frame

[2019-07-30 14:37] alexsanjoseph commented on #23
Checkout the 'limit_html' argument

On Tue 30 Jul, 2019, 20:05 DilipPathare, <notifications@github.com> wrote:

[2019-07-30 14:52] DilipPathare commented on #23
I got that in the function. Just wanted to know do I need to write the entire function again changing the LIMIT_HTML=1000000?

[2019-07-30 15:13] alexsanjoseph commented on #23
Did you try this out? It should work.

On Tue 30 Jul, 2019, 20:22 DilipPathare, <notifications@github.com> wrote:

[2019-07-30 15:53] DilipPathare commented on #23
Hey Alex,

Tried that - but didn't work actually

rajan_df <- function(df_new, df_old, group_col, exclude = NULL, limit_html = 1000000, tolerance = 0, tolerance_type = 'ratio',
                       stop_on_error = TRUE, keep_unchanged = FALSE,
                       stop_on_error = TRUE, keep_unchanged_rows = FALSE, keep_unchanged_cols = TRUE,
                       color_scheme = c("addition" =

[2019-07-30 16:11] alexsanjoseph commented on #23
Please don't rewreite the function, just call the funciton with limit html=100000

`dfnew1=rajan_df(df1,df2,c("name.child"), limit_html = 100000)`

[2019-07-31 11:56] DilipPathare commented on #23
@alexsanjoseph

Thank you so much :)

[2019-08-12 07:11] #23 closed

[2019-08-28 03:48] lindal97 opened #24 "Unable to read column names with spaces & problem when comparing strings"
Hello Alex,
Thank you for your wonderful package! It has been very helpful for me and easy to use, but I would like to raise two likely bugs when using it.
1. When trying to compare dataframes(named newdata and olddata, as shown beneath) with spaces in column name, it raises an error message like this(with traceback attached):
<pre><code>
Error in parse(text = x) : <text>:1:11: unexpected symbol
1

[2019-08-28 04:47] alexsanjoseph commented on #24
Hi @lindal97 - Thanks for using the package

Regarding #1 - It is not generally a good practice to use spaces in column names in R. Base R doesn't even allow you to put spaces in a data.frame while creating using the data.frame command (converts it into periods). If you absolutely want to have spaces in your column names, it might be a good idea to convert that to Underscores or periods and do the

[2019-09-04 02:32] lindal97 commented on #24
Hi @alexsanjoseph,
Thank you for the reply & sorry for the gap between... After tweaking around for a little bit, I realized the origin of (2) was some encoding issues of the original file that for some reasons was overlooked/automatically transformed by R. Thank you for your timely response & the wonderful package!

[2019-09-04 02:32] #24 closed

[2019-09-09 12:50] karuno11 opened #25 "maximum upload size exceeded"
Hello,

I'm trying to compare 2 data frames that have 24,000 records+ (~5 mb) and I get this error. I used your compareDF package in an R shiny app where the user uploads two CSV files and compares the two. Any help would be greatly appreciated!

[2019-09-09 13:37] alexsanjoseph commented on #25
Are you sure the error is in this package?

https://stackoverflow.com/questions/18037737/how-to-change-maximum-upload-size-exceeded-restriction-in-shiny-and-save-user

Alex :)

[2019-09-09 14:53] karuno11 commented on #25
Oh yes you're correct! Thank you for the link! That solved my issue.

[2019-09-10 00:38] karuno11 commented on #25
Hi Alex Joseph,

I have a question about why cells are colored grey. The Read Me says that grey cells are colored because "Cells that haven't changed across the two datasets are colored grey." But in the example with the students, it looks like a row is present in the latest file but not present in the previous file:

[cid:658dbc31-f37a-42e5-882a-bfcb1740df8f]
In this case, why is it colored grey?

[2019-09-10 00:47] karuno11 commented on #25
I'm referring to the whole row that's highlighted in grey, not the font of the individual values. For example, why is the top row highlighted in grey but not the bottom row (grp change 12 and 13, Rohit and Vikram):

[cid:3de91cac-b9f3-456e-876f-6ddb84ae2ec6]

________________________________
From: adrian chan <adrianchan31@hotmail.com>
Sent: September 9, 2019 8:38 PM
To: alexsanjoseph/compareDF <r

[2019-09-10 04:20] alexsanjoseph commented on #25
Which is the row that's fully highlighted in grey? The top row has one cell that's green and hence included

[2019-09-10 04:40] karuno11 commented on #25
This row:

[cid:e1001670-1874-4a83-a98d-0b40219c7cd2]
Number 12 is fully highlighted in grey but I'm not sure why, compared to row 13. Why is row 12 highlighted in grey? I understand green font means the row is in the new file but not in the old file.

________________________________
From: Alex Joseph <notifications@github.com>
Sent: September 10, 2019 12:20 AM
To: alexsanjoseph/compareDF <compar

[2019-09-10 04:46] alexsanjoseph commented on #25
Can you post an actual screenshot? How do I use the cid?

[2019-09-10 04:57] karuno11 commented on #25
I've attached a screenshot to this email. Please let me know if you can view it.

________________________________
From: Alex Joseph <notifications@github.com>
Sent: September 10, 2019 12:46 AM
To: alexsanjoseph/compareDF <compareDF@noreply.github.com>
Cc: karuno11 <adrianchan31@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [alexsanjoseph/compareDF] maximum upload size exceeded (#2

[2019-09-10 05:11] alexsanjoseph commented on #25
I'm sorry it's not visible for me

[2019-09-10 12:06] karuno11 commented on #25
![2](https://user-images.githubusercontent.com/53199135/64612446-d64bd480-d3a1-11e9-9270-84a15a4aafc5.PNG)

[2019-09-10 13:14] alexsanjoseph commented on #25
Oh! Now I understand. The background shading doesn't mean anything - it's just there to differentiate alternate groups.

[2019-09-11 15:58] #25 closed

[2020-01-05 08:15] alexsanjoseph commented on #11
Fixed in V2.0!

[2020-01-05 08:15] #11 closed

[2020-01-06 12:52] JayCodeLab opened #27 "help wanted - HTML output not displaying"
Hi,

I appreciate this library!

When I try to run the example, I cannot get the html output? however it runs the "Creating HTML table for first 100 rows"
I'm running the latest version/release of Compare_DF 2.0 and on RStudio Version 1.0.143
NOTE: Excel output works fine.

[2020-01-06 13:16] alexsanjoseph commented on #27
Hi Jay -

You're one of the first people using the new compareDF version! Somethings might be still awry, sorry for that. Can you give a representative example to show the issue that you're facing?

Alex

[2020-01-06 13:29] JayCodeLab commented on #27
Hi Alex,

Thanks for your quick reply!

Code:
`library(compareDF)
library(readxl)
library(openxlsx)
library(htmlTable)

File_New <- read_excel("~/test/FileNew.Xlsx")
File_Old <- read_excel("~/test/FileOld.Xlsx")

ctable_compare = compare_df(File_New,File_Old, c("Server"))
ctable_compare$comparison_df

#HTML output
create_output_table(ctable_compare)
view_html(ctable_compare)

#excel output
create_

[2020-01-06 14:50] alexsanjoseph commented on #27
@JayCodeLab

`create_output_table(ctable_compare)` This function should have already created the output in the viewer without using the view_html command.

However, there was an issue with view_html function which I have fixed in the latest version. Can you try using the latest version of the package?

devtools::install_github('alexsanjoseph/compareDF')

If you want to write HTML to a file, use th

[2020-01-08 19:01] JayCodeLab commented on #27
Hi Alex,
Seems to be working now! Thank you so much!

[2020-01-13 08:16] alexsanjoseph commented on #27
What's the issue @JayCodeLab ?

[2020-01-13 08:17] JayCodeLab commented on #27
Hi Alex,

I can get the view_html command to work. However, the create_output_table(ctable_compare) doesn't work.

Thanks Alex.

[2020-01-13 08:22] alexsanjoseph commented on #27
Can you explain a bit what you want to do? Also an example would help me understand the issue

[2020-01-13 08:26] JayCodeLab commented on #27
Hi again,

Just trying to run your code.

I can't get the  create_output_table(ctable_compare) to output the results in the viewer.

CODE:
library(compareDF)
library(readxl)
library(openxlsx)
library(htmlTable)

File_New <- read_excel("~/test/FileNew.Xlsx")
File_Old <- read_excel("~/test/FileOld.Xlsx")

ctable_compare = compare_df(File_New,File_Old, c("Server"))
ctable_compare$comparison_df

#HTML

[2020-01-13 09:46] alexsanjoseph commented on #27
Do you mean that the function runs, but the output is not displaying in the viewer? I was able to view it without any issue?

1) Can you write it to an HTML file and see?
2) Are you on the latest version of the package?
3) Can you give your System information? (`sessionInfo()`)

[2020-01-13 12:22] JayCodeLab commented on #27
Hi Alex,
It works now, thank you! Not sure why, I restarted my R and it pop up!
However, I found a new issue - will make a new threat for that,

[2020-01-13 12:22] #27 closed

[2020-01-13 12:25] JayCodeLab opened #28 "Color output not the same in the .xlsx file and output (in viewer)"
Hi Alex,

![image](https://user-images.githubusercontent.com/59565565/72255803-fb7a7900-3607-11ea-9c3d-252c844aacf7.png)

I generated the following comparison, however the coloring is not the same. The one in the viewer is the correct one, in my opinion.

Thanks.

/Jay

[2020-01-13 12:39] alexsanjoseph commented on #28
Thanks @JayCodeLab - Does seem to be a bug - Thanks for the great examples, too. Can you try the latest dev version from master ?

[2020-01-13 13:14] JayCodeLab commented on #28
Hi again @alexsanjoseph,

Seems to work!
![image](https://user-images.githubusercontent.com/59565565/72258656-e9500900-360e-11ea-8dab-f87217e3c792.png)

Thanks!

[2020-01-13 13:14] #28 closed

[2020-01-14 14:02] pamdx opened #29 "[create_output_table] color code bugs with xlsx export"
Hey guys,

Thanks a lot for this awesome package, it's helping me a lot in my work!

Just wanted to point out a bug I've been running into. For some reason, when I export my comparison table in Excel, the color code in the table becomes incoherent (as opposed to exporting in html, which creates tables with the expected color code).

More specifically, when cell values are replaced between the new

[2020-01-14 14:04] alexsanjoseph commented on #29
This is a known bug. Can you try installing the development version? It
will be fixed in the next CRAN update as well

On Tue, 14 Jan, 2020, 19:32 pamaudoux, <notifications@github.com> wrote:

[2020-01-14 14:05] pamdx commented on #29
Ok great to hear, thanks for the quick answer!

[2020-01-14 15:05] alexsanjoseph commented on #29
Keeping this open until the next cran release

[2020-02-19 22:57] jamesguinnip opened #30 "Error installing package from github"
Hello,

I first installed _compareDF_ from the CRAN yesterday, and things were great! However, I tried using create_output_table() with output_type = "xlsx" and it wouldn't work. It output an unspecified file type to the working directory and I couldn't get my Windows machine to open the file at all after trying a variety of software.

I noticed the mention of a bug with the CRAN version, so I ent

[2020-02-21 03:53] alexsanjoseph commented on #30
I'm not sure what exactly is happening either - because I don't have a windows system with me.

Can you try cloning the repo locally and installing with `R CMD INSTALL .` from the compareDF folder?

[2020-02-29 08:21] alexsanjoseph commented on #30
I don't know what exactly the issue was, but I've pushed the bugfix to CRAN - this should solve your issue if it still persists!

[2020-02-29 08:21] #30 closed

[2020-02-29 08:21] alexsanjoseph commented on #29
I've pushed the bugfix to CRAN. Closing issue

[2020-02-29 08:21] #29 closed

[2020-03-31 19:48] jzadra opened #31 "Error in compare_df(): argument "group_col" is missing, with no default"
Getting this error when trying to compare two tibbles.  I do not want to group by anything, but rather compare the entirety of both dfs.

[2020-04-01 03:48] alexsanjoseph commented on #31
@jzadra - What's you expected behaviour if you don't want to compare any grouping column? Can you give a representative example?

[2020-04-01 16:19] jzadra commented on #31
@alexsanjoseph I was hoping to compare each cells contents based on their position.  I am looking at an equal dimension table with what should be identical cells in every respect.

However I think I can see why in most cases with unequal dim tables you'd need to have a key / group var to limit the scope of where comparisons are made, but this assumes that there is at least one variable that has no

[2020-04-01 17:07] alexsanjoseph commented on #31
Have you solved the problem by adding the row number? That is the expected behavior right?

I agree row number could be a smart default in case the dimensions for the data frames are the same. I will try to add this as a feature in an upcoming release :)

[2020-04-01 18:07] jzadra commented on #31
Yes adding row number and grouping by that works.  See the second chunk above.

[2020-04-01 18:56] alexsanjoseph commented on #31
Cool - Adding this as a potential enhancement

[2020-04-06 07:25] D3SL opened #32 "[minor enhancement] suggested rewording for missing column error for clarity"
When trying to compare two dataframes where at least one column is missing the error message given is `Error: Can't find column '<Missing column name>' in `'.data'`.

In my case I had a column named "Type" in old_df (made by subsetting a parent set by type) that wasn't in some newly produced data, printing the error `Error: Can't find column 'Type' in '.data'`. I wound up misreading this as referr

[2020-04-06 07:31] alexsanjoseph commented on #32
I think the ^ formatting got screwed because of some github issues.

Can you give a representatie example?

Good suggestions - I can fix this

[2020-04-06 17:10] D3SL commented on #32
Yeah they're not escaping backticks properly and trying to string a bunch of them together to get them to show is irritating. I just replaced them with singlequotes.

Here's a really simple reprex. Just run compare_df on these two and it'll give you the error that the third column from testtibble1 (named "Type") is missing.

[code]

[2020-04-06 17:32] alexsanjoseph commented on #32
Thanks - Will add this for future

[2020-04-24 19:30] alexsanjoseph commented on #32
@D3SL

Can you verify your reprex again? On running, I'm getting a different error:

[code]

[2020-04-27 06:28] alexsanjoseph commented on #31
Fixed in latest release

[2020-04-27 06:28] #31 closed

[2020-04-27 06:28] alexsanjoseph commented on #32
Closing since I'm unable to reproduce the error. Please reopen if necessary

[2020-04-27 06:28] #32 closed

[2020-04-27 07:51] D3SL commented on #32
You're right, I can't reproduce it on a second machine either. I can consistently get it to look like this [screenshot](https://i.postimg.cc/MH0yd9Vr/compare-df-confusing.png) on my work computer though.

[2020-04-27 17:01] jzadra commented on #31
Thanks!

[2020-05-20 09:05] alexsanjoseph opened #33 "Allow user to change the values of change_type from +/-"

[2020-07-28 21:38] D3SL opened #34 "More flexible output, side-by-side as an option"
It occurred to me while I was comparing a number of very large files that row based output is really only good for eyeballing small amounts of simple data. If the current outputs were offered in column based format a whole lot more could be done with it.

Everything in R is column oriented and when the differences are listed as ```key old.x new.x old.y new.y``` that information is much more progra

[2020-07-29 15:50] alexsanjoseph commented on #34
Hi @D3SL -

The decision to give a wide output is intentional, as in makes visual comparison easy first up. That said, the output is also provided in `comparison_df` object which can be further manipulated in any of the ways that you mentioned for specific problems one may have. Have you tried this approach?

Maybe I'm not following you completely, so can you help me understand this problem with s

[2020-07-29 16:49] D3SL commented on #34
Sure, I actually did find a package that does this but unlike compare_df it's heavily limited in that it only shows rows which exist in both dataframes. It's also not as human-friendly imho. Between the two of you there's the perfect data-content comparison package.

![image](https://user-images.githubusercontent.com/63225966/88828868-7c7c1500-d1d4-11ea-8073-7d0ea3e3d451.png)

[2020-07-29 17:39] alexsanjoseph commented on #34
Thanks for the example, tt's an interesting use case. I have a couple of questions, though

1) Why is this something that's not achieved by a pivot_wider from the compare_df output, depending on the specifics of how the user?
2) How do you deal with cases when one row/group has been replaced by more than one observation?

[2020-08-03 16:01] D3SL commented on #34
1. Pivoting sort of works. You need to have a single key column to start with, add a marker column to track whether each object is the new or old data, and the tradeoff is you lose the chng_type column and you'll only have one copy of your key column with both dataframes' worth of rows in it as opposed to a fully side-by-side comparison. You also need to go through long to get to wide.

2.  That w

[2020-08-03 19:39] alexsanjoseph commented on #34
What if you do a merge(join) instead. The group column will be the key, and you get all the rows from both sides? Is that the kind of output you're looking at?

[2020-08-04 20:53] D3SL commented on #34
A self full join in the pattern of ```full_join(comparison_df[comparison_df$key == 'new'], comparison_df[comparison_df$key == 'old'], by='groupcol')``` is just another way of doing the same thing as pivoting to long then back to wide, it just manages to keep the chng_type column where pivoting loses it. In both cases the user needs to add a redundant column to each dataframe whose only purpose is

[2020-08-04 21:55] D3SL commented on #34
I tested that workaround idea and found it easiest to do with data.table:

[code]

[2020-08-05 07:01] alexsanjoseph commented on #34
@D3SL - Glad you found a workaround.

Yeah currently the code is not built for performance, I'm not sure if I'll come around to rewriting this in RCpp which would be vastly better. The tests are pretty comprehensive, so if you have expertise in this, it would be great.

Is there anything further or shall I close this?

[2020-08-05 08:11] D3SL commented on #34
I don't know enough C to do something this complicated unfortunately. I do know my way around data.table though, which could still be a significant performance improvement over dplyr as the core.

[2020-08-05 08:11] #34 closed

[2020-08-05 12:16] alexsanjoseph commented on #34
Yeah data.table might be a good compromise. I'll add an enhancement to see if I can do it in data.table. Thanks for the inputs!

[2020-08-05 12:16] alexsanjoseph opened #35 "Use data.table internally for better performance"

[2020-08-05 12:19] alexsanjoseph commented on #34
#35

[2020-08-05 16:55] D3SL commented on #35
Happy to help with this if you don't mind bringing me up to speed on what's going on under the hood.

If I understand it right this is the heart of the comparison process:
- df1_2 becomes a table of all rows in df_old that are different in df_new
- df2_1 becomes a table of all rows in df_new that are different in df_old

rbind df_old and df_new in that order and then deduplicate and remove rows 1:

[2020-08-05 17:45] alexsanjoseph commented on #35
Thanks for the detailed overview - I have used data.table a bit, but not `furrr`.

You numbers are interesting, though. I have seen data table giving magnitude improvements, but how does adding in `futures` make minutes into seconds? I understand it uses multiple cores, but the theoretical maximum improvement should be limited to the number of cores?

Will try to take a crack over the weekend on t

[2020-08-05 17:47] alexsanjoseph commented on #35
Also I think you've understood the code correctly. I think I should be feeling proud of myself ;)

[2020-08-05 18:29] D3SL commented on #35
R is singlethreaded and every operation is blocking. In my use case I start with a 10 megabyte table of ~56K rows, each row containing the start and end point of a sequence of numbers I need to work on. It's far too large for me to do the entire process all at once to the entire table, so I need to split it up into chunks of about 1K rows at a time.

So if it takes 10 seconds to do a 1K row chunk

[2020-08-05 18:45] alexsanjoseph commented on #35
Thanks for the detailed info, that makes sense.

In compareDFs case I wonder if lots of tiny operations might be the case? Most of the time the Number of group ~ Number of rows, so the overhead might be too much.

But definitely the only way to know it is to do some testing and figure out how it work for this specific case.

[2020-08-05 20:27] D3SL commented on #35
By "lots of tiny operations" I meant in the context of creating and resolving child processes, I can see how I wasn't that clear about that. Future's big weakness is that it takes time to get all the child processes set up, organized, and the various threads coordinated. A big part of that is that passing data back and forth between parent and child process is done basically by serializing it as i

[2020-08-12 19:58] D3SL commented on #35
Turns out I have no idea how to use git but that's ok because this chunk of the rewrite was compact enough to fit in a comment. The below function gets you a comparison_df with `-` for subtracted rows, `+` for added rows, and `~` for rows where `group_col` exists in both objects but all values are not identical. It has an optional argument `wideoutput` to choose between the traditional row based `

[2020-08-13 04:17] alexsanjoseph commented on #35
Hey nice! Let me check it out over the weekend

[2020-08-14 17:17] alexsanjoseph commented on #35
@D3SL - Went over your snippet, here are my comments:

- I see that your internal implementation significantly differs from the paradigms that I've used currently. I am not seeing an easy way to bake it into what I have now.
- It also seem to be finding the differences only at a low level, and not at a cell level, which is what compareDF does right now.
- There are also other features built into t

[2020-08-15 19:26] D3SL commented on #35
I think I should clarify that wasn't meant to be a finished product, it was a proof of concept to test if data.table could even work for this. I only put an afternoon or two into it and I think most of that was trying to really grok how the magic happened to see what an efficient way to refactor it would be. I don't have any of the other features partly because I still don't fully understand what

[2020-08-16 07:10] alexsanjoseph commented on #35
Thanks for the detailed explanations. The thinking process seems to be a paradigm shift from the current implementation, but I think you are on to something here, I will take a stab at this.

Meanwhile, I'll wait for you to give me the reproducible test case with the data that is taking an inordinately long time.

[2020-08-16 10:49] alexsanjoseph commented on #35
@D3SL - I was able to fold it in your idea without too many breaking changes. Please take a look at the PR if you have any comments.

https://github.com/alexsanjoseph/compareDF/pull/36

You should also be able to try out the changes in the new branch and see if it has improved the performance as well. (My ests gave me a 5x increase in speed)

I've also added the create_wide_output as an additional

[2020-08-16 10:53] alexsanjoseph commented on #35
Also I'd like to acknowledge your efforts by name, if that's alright. Currently I've used D3SL as the pseudonym

[2020-08-18 17:25] D3SL commented on #35
Sure, but you might need to link me to a decent tutorial on how to use github first. I've only used it for bug reports until now.

Going on the theory that the original delay had to do with having a huge number of long doubles I put these two together off a govt website, it's international public data. If I'm right the main branch should take about 15 seconds to run on an i5 8th gen and the DT bra

[2020-08-19 05:35] alexsanjoseph commented on #35
Nevermind - You can just try installing the latest and see if it works fine.

[code]

I tried using the dataset you posted -

[code]

[2020-08-25 17:54] alexsanjoseph commented on #33
Fixed in 2.3.0

[2020-08-25 17:54] #33 closed

[2020-08-25 17:54] alexsanjoseph commented on #35
Fixed in 2.3.0

[2020-08-25 17:54] #35 closed

[2020-08-30 03:58] D3SL commented on #35
Sorry I disappeared, haven't had much free time recently. I tried to check whether our using different grouping columns accounted for the runtime difference but I couldn't replicate it, which is weird.

I installed the 2.3 version off github and made up some test data (below) as a sort of worst case scenario. Grouping only by the "key" column I get about an 5 second runtime with compareDF 2.3.0-de

[2020-10-16 16:05] jabortell opened #39 "compare_df fails if the first parameter, `df_new`, is already a data.table"
If `df_new` is already a data.table then `compare_df` fails:

[code]
[code]

The issue appears to be line fnsCompare.R:65
[code]

If `df_new` is a data.table, then `both_tables$df_new` becomes the character vector `names(both_tables$df_old)`, rather than a table with the same columns and data as `df_old`.

[2020-10-17 14:22] jabortell commented on #39
I found that simply converting `df_new` and `df_old` to data.tables at the top of `compare_df` like so
[code]
and changing the line in my comment above to
[code]
was sufficient. I reran all tests, and they all succeeded. Note that `both_tables$df_new[, names(both_tables$df_old), with = FALSE]` is equivalent, but I think the intention is clearer through the `.SD` syntax.

If you'd like that I would

[2020-10-18 07:24] alexsanjoseph commented on #39
@jabortell - Sounds great - Please submit a PR, I'll take a look and merge. Thanks for contributing :)

[2020-10-18 13:17] jabortell commented on #39
Done. See PR #40

[2020-10-18 20:31] alexsanjoseph commented on #39
Merged and closing

[2020-10-18 20:31] #39 closed

[2022-02-25 11:14] PatrickOStats opened #44 "class changed to 'data.table' not internally, but in enclosing/global environment, w/o notice."
A simple call of compare_df() changes the class of the 2 data.frames on which it is called to data.table - not internally, but in the enclosing environment, e.g. GlobalEnv in the example below.
For those of us who don't work with data.tables this can produce unwanted results. With the way R "saves" copies of the same data.frame, there's also no quick way around it with a backup copy.
If I'm not mi

[2022-03-01 07:18] alexsanjoseph commented on #44
Thanks for the issue @PatrickOStats - I will take a look at this and get back soon!

[2022-03-10 20:19] alexsanjoseph commented on #44
Thanks for reporting the bug @PatrickOStats - Have created a PR here https://github.com/alexsanjoseph/compareDF/pull/45, will merge and create a new release soon

[2022-03-12 17:08] jaw8 opened #46 "Error in as.Date.numeric(value) : 'origin' must be supplied"
**Describe the bug**
When setting `keep_unchanged_rows = T` an error occurs:
`Error in as.Date.numeric(value) : 'origin' must be supplied`

**To Reproduce**
Steps to reproduce the behavior:
Normal call of
[code]

Setting/keeping default `keep_unchanged_rows = F` does NOT error.

**Expected behavior**
No error is expected.

**Screenshots**
![image](https://user-images.githubusercontent.com/62952761

[2022-03-12 17:18] jaw8 opened #47 "`gather_()` was deprecated in tidyr 1.2.0."
**Describe the bug**
Function `create_change_count()` is using `tidyr::gather_()`, which is depreciated.

**To Reproduce**
Run normal `compareDF::compare_df()`

**Expected behavior**
No warnings.

**Screenshots**
![image](https://user-images.githubusercontent.com/62952761/158027764-81808246-876f-4dfa-bf60-f25d250a88b2.png)

**Desktop (please complete the following information):**
 - OS: Windows 11

[2022-03-12 18:43] alexsanjoseph commented on #47
Latest version to be on CRAN fixes this.

[2022-03-12 18:43] #47 closed

[2022-03-12 18:43] alexsanjoseph commented on #46
Can you give me a full reprex?

[2022-03-13 06:43] alexsanjoseph commented on #44
Latest version on cran should fix this issue

[2022-03-13 06:43] #44 closed

[2022-03-14 14:26] jaw8 commented on #46
Reprex below.   Thank you!

[code]

[2022-03-14 15:04] alexsanjoseph commented on #46
Thanks, seems like a bug while comparing the dates - Will fix this soon. In the meantime, can you fix the example with a smaller reprex? This has 38 rows and is impossible to work with @jaw8

[2022-03-23 13:02] PatrickOStats commented on #44
Thank you very much, @alexsanjoseph! With the latest version, I do no longer experience any issues of this sort. :)

[2022-09-19 16:00] UTexas80 opened #48 "compare_df - incorrect number of dimension error"
Hello,

I am running the example code

**Reproducible Code**

ctable_student = compare_df(results_2011, results_2010, c("Student"))

**Describe the bug**
I receive an error message stating "Error in both_tables$df_new[, .SD, .SDcols = names(both_tables$df_old)] ":
  incorrect number of dimensions

**Expected behavior**
I ran the code several weeks ago and it was working correctly. I was able to ou

[2022-09-20 07:27] alexsanjoseph commented on #48
I'm unable to reproduce the problem on my local. Any idea what changed recently at your end?

[2022-09-20 15:46] alexsanjoseph commented on #48
The error seems to suggest that the `STATION_ID` column is not missing in one of the two tables. Are you sure there is no typo in the names?

It shouldn't have to, but if that's the case - It's a bug that has to be fixed :)

[2022-09-20 16:18] UTexas80 commented on #48
Here's the data.table metadata
glimpse(x)
Rows: 2,644
Columns: 45
$ id                                     <dbl>
$ DATE                                   <dttm
$ STORE_ID                               <dbl>
$ STATION_ID                             <dbl>
$ STATION_NAME                           <chr>
$ STATION_ADDRESS                        <chr>
$ STATION_CITY                           <chr>
$ STA

[2022-09-20 16:29] alexsanjoseph commented on #48
Can you create a full reproducible example from your data that I can use to test?

[2022-09-29 10:23] alexsanjoseph commented on #48
Closing due to lack of activity

[2022-09-29 10:23] #48 closed

[2022-09-29 10:55] jenko1979 opened #49 "Bug in compare_df function"
**Describe the bug**
The bug produces extra grouping rows when comparing datasets, so you end up wiht a '+' and and '=' in the same grouping which is incorrect. The bug is not seen if numeric variables are converted to character first, but then this means tolerance options in the function become redundant

**To Reproduce**
RDS dataset provided in email advs and qcadvs

The example below is actuall

[2022-10-01 06:38] alexsanjoseph commented on #49
@jenko1979  - I've pushed a latest version on the master branch. You can install this by

[code]

Can you try and see if this fixes your problem?

[2022-10-03 09:32] jenko1979 commented on #49
@alexsanjoseph  - I tested on this test data and now the results are as expected. I guess maybe further testing on much larger datasets may be worthwhile to see if there are any differences seen when numeric variables are all converted to character (which seems to have been working very well from extensive use with this method) versus when numeric variables are left as numeric - but initial signs

[2022-10-07 11:26] #49 closed